body,p,table,ul,li,span,font
{
	font-size:12px;
	font-weight:normal;
	color:#333;
	margin:0;
	padding:0;
}
.font1
{
	font-family:'font1';
}
.font2
{
	font-family:'font2';
}
.font3
{
	font-family:'font3';
}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f36{font-size:36px;}
.mt-20{margin-top:20px;}
.mt-25{margin-top:25px;}
.mt-40{margin-top:40px;}
.ml-100{margin-left:100px;}
.float-left{float:left;}
.float-right{float:right;}
.banner
{
	width:100%;
	height:auto;
	background-image:url(../img/banner.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}
.pro
{
	text-align:center;
	width:384px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-192px;
	margin-top:-75px;
}
.pro span
{
	color:#fdfdfd;
}
.pro .line1
{
	font-size:72px;
	font-weight:lighter;
	letter-spacing:8px;
}
.pro .line2
{
	font-size:18px;
	font-weight:lighter;
}
.pro2
{
	width:auto;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	padding-top:80px;
	text-align:center;
}
.pro2 span
{
	display:block;
	margin:0 auto;
	color:#fdfdfd;
}
.pro2 span:nth-child(2)
{
	margin-top:120px;
}
.pro2 span:nth-child(3)
{
	margin-top:30px;
}
.full-width
{
	width:100%;
}
.text-center
{
	text-align:center;
}
.container
{
	width:1000px;
	height:auto;
	overflow:auto;
	margin:0 auto;
	padding-top:40px;
	padding-bottom:40px;
}
.phone
{
	width:auto;
	height:auto;
	overflow:auto;
}
.qrcode
{
	margin-top:90px;
	border:5px solid #666;
}
.container div:nth-child(3)
{
	margin-left:70px;
	margin-top:120px;
}
.footer
{
	width:100%;
	height:200px;
	background-color:#f2f2f2;
	overflow:hidden;
}
.info
{
	width:100%;
	height:40px;
	background-color:#282828;
	line-height:40px;
}




















