<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="免费 专业的在线定制系统 手机定制系统 照片书 手机diy 网络印刷 云印刷 印刷电商"/>
<meta name="description" content="免费 专业的在线定制系统 手机定制系统 照片书 手机diy 网络印刷 云印刷 印刷电商"/>
<link rel="stylesheet" type="text/css" href="history/history.css" />
<script type="text/javascript" src="swfobject.js"></script>
<script type="text/javascript" src="history/history.js"></script>
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000484391'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000484391' type='text/javascript'%3E%3C/script%3E"));</script>
<script src="../js/CONST.js"></script>
<script type="text/javascript">

function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null)
        return unescape(r[2]);
    return null;
}

var action = getQueryString('action');
var floadswf = function(swfuri){
	var version = "1.0.321";
	var jsEditorUrl = swfuri+"?v="+version;

	var swfVersionStr = "11.1.0";
	// To use express install, set to playerProductInstall.swf, otherwise the empty string.
	var xiSwfUrlStr = "";
	var flashvars = new Object();
	flashvars.i = '<?php echo $designstudio_id;?>';
	flashvars.resourceserveruri = '<?php echo $CONST_RESOURCE_SERVER_PATH;?>';
	flashvars.oauth2serveruri = '<?php echo $CONST_OAUTH2_SERVER_PATH;?>';

	var access_token = getQueryString('access_token');
	if (access_token != null)
	{
		flashvars.access_token = '<?php echo $access_token;?>';
	}

	if (action != null)
	{
		flashvars.action = '<?php echo $action;?>';
	}

  var entrusterid = getQueryString('entrusterid');
  if (entrusterid != null)
  {
    flashvars.entrusterid = entrusterid;
  }

	var params = {};
	params.quality = "high";
    params.bgcolor = "#ffffff";
	params.allowscriptaccess = "sameDomain";
	params.allowfullscreen = "true";
	params.wmode = "direct";

	var attributes = {};
	attributes.id = "QDingzhiEditor";
	attributes.name = "QDingzhiEditor";
	attributes.align = "middle";
	swfobject.embedSWF(
		jsEditorUrl, "swfContainer",
		"100%", "100%",
		swfVersionStr, xiSwfUrlStr,
		flashvars, params, attributes);
	// JavaScript enabled so display the swfContainer div in case it is not replaced with a swf object.
	swfobject.createCSS("#swfContainer", "display:block;text-align:left;");
};

var id = getQueryString('id');
var s = (action == "edit" || action == "editagent")?"geteditoruribydesignid":"geteditoruribydesignstudioid";
if (id != null) {
	var s = CONST_RESOURCE_SERVER_PATH + '/public/' + s + '?id=' + id;
	$.ajax({
		type:'get',
		url:s,
		cache:false,
		dataType:'json',
		success:function(data){
			var swfuri = data.data;
			// floadswf(swfuri);
      floadswf("QDingZhiEditor.swf");
		}
	});
}

window.onbeforeunload = onbeforeunloadHandler;
function onbeforeunloadHandler()
{
	return "";
}

</script>
</head>
<body style="height:100%;padding: 0;margin: 0">
	<div id="swfContainer"></div>
	<div id="yourloading">
	</div>
		<div id="flashLowVersion" style="display:none"><a class="btn" href="http://shop.qdingzhi.com/flash115.rar"></a></div>

<script type="text/javascript">
		var minFlashVersions = "11.1.0".split(".");
		if(minFlashVersions.length!=3){
			alert("格式错误!");
		}else{
			var minMajorVersion = minFlashVersions[0];
			var minSecVersion = minFlashVersions[1];
			var flashVersion = swfobject.getFlashPlayerVersion();

			if(flashVersion['major'] >= minMajorVersion&&flashVersion['minor']>=minSecVersion)
			{
				$("#swfContainer").show();
				$("#yourloading").show();
				$("#flashLowVersion").hide();
			}else{
				$("#swfContainer").hide();
				$("#flashLowVersion").show();
				$("#yourloading").hide();
				var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
				$("#flashOfficial").empty();
				$("#flashOfficial").append("<a href='http://www.adobe.com/go/getflashplayer'><img src='"

						+ pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
			}
		}
</script>

</body>
</html>
