<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../js/utils.js,listtable.js"}
{insert_scripts files="../js/jquery.min.js"}

<!--<div class="form-div">
  <form name="TimeInterval"  action="javascript:getList()" style="margin:0px">
  {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' readonly="readonly" /><input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_date', '%Y-%m-%d', false, false, 'selbtn1');" value="{$lang.btn_select}" class="button"/>&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' readonly="readonly" /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_date', '%Y-%m-%d', false, false, 'selbtn2');" value="{$lang.btn_select}" class="button"/>&nbsp;&nbsp;
    <input type="submit" name="submit" value="{$lang.query}" class="button" />
  </form>
</div>-->

<div class="tab-div">
 <div id="tabbar-div">
    <p>
      <span class="tab-front" id="order-day-table">按日统计</span>
      <span class="tab-back" id="order-week-table">按周统计</span>
      <span class="tab-back" id="order-month-table">按月统计</span>
    </p>
 </div>
<form method="POST" action="" name="listForm">
 <div id="tabbody-div">
   <table width="90%" cellspacing="0" cellpadding="3" id="order-day-table">
     <tr>
      <th>日期</th>
      <th>订单数</th>
      <th>总成交量</th>
    </tr>
{if $goods_sales_list}
  {foreach from=$goods_sales_list item=list}
    <tr align="center">
      <!-- 订单支付时间 -->
      <td><a href="agent.php?act=detail_day&day_num={$list.day_num}">{$list.day_num}</a></td>
      <!-- 每日订单数 -->
      <td>{$list.order_sum_day}/单</td>
      <!-- 每日总成交量 -->
      <td>{$list.product_sum_day}/册</td>
    </tr>
    {/foreach}
{else}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/if}  
  </table>
  
  <table width="90%" cellspacing="0" cellpadding="3" id="order-week-table" style="display:none">
     <tr>
      <th>日期</th>
      <th>订单数</th>
      <th>总成交量</th>
    </tr>
{if $goods_sales_list}
  {foreach from=$goods_sales_list_week item=list}
    <tr align="center">
      <!-- 订单支付时间 -->
      <td><a href="agent.php?act=detail_week&week_num={$list.week_num}">第{$list.week_num}周</a></td>
      <!-- 每周订单数 -->
      <td>{$list.order_sum_week}/单</td>
      <!-- 每周总成交量 -->
      <td>{$list.product_sum_week}/册</td>
    </tr>
  {/foreach}
{else}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/if}
  </table>
  
  <table width="90%" cellspacing="0" cellpadding="3" id="order-month-table" style="display:none">
     <tr>
      <th>日期</th>
      <th>订单数</th>
      <th>总成交量</th>
    </tr>
{if $goods_sales_list}
  {foreach from=$goods_sales_list_month item=list}
    <tr align="center">
      <!-- 订单支付时间 -->
      <td>第{$list.month_num}月</td>
      <!-- 每周订单数 -->
      <td>{$list.order_sum_month}/单</td>
      <!-- 每周总成交量 -->
      <td>{$list.product_sum_month}/册</td>
    </tr>
  {/foreach}
{else}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/if}
  </table>
 </div>
</form>
</div>


{insert_scripts files="agent_tab.js"}
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}
function updateData(order)
{
    if(order!='day' && order!='week' && order!='month')
    {
      return false;
    }
    else
    {
      do
	
    }
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
      }
      aTags[i].href = "sale_list.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}

