<!-- $Id: bind_type_info.htm 16752 2009-10-20 09:59:38Z moonsea $ -->
{include file="pageheader.htm"}
<!-- start add new category form -->
<div class="main-div">
  <form action="bind.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
  <table width="100%" id="general-table">
      <!-- 类型id -->
      <tr>
        <td class="label">类型编号:</td>
        <td>
          <input type='text' name='type_id' maxlength="20" value='{$bind_type_info.type_id|escape:html}' size='10' {if $form_act == 'update'} disabled='disabled'{/if}/> <font color="red">*</font>
        </td>
      </tr>
      <!-- 类型名称 -->
      <tr>
        <td class="label">类型名称:</td>
        <td>
          <input type='text' name='type_name' maxlength="20" value='{$bind_type_info.type_name|escape:html}' size='20' /> <font color="red">*</font>
        </td>
      </tr>
  </table>
      <div class="button-div">
        <input type="submit" value="{$lang.button_submit}" />
        <!-- <input type="reset" value="{$lang.button_reset}" /> -->
      </div>
    <input type="hidden" name="act" value="{$form_act}" />
    <input type="hidden" name="old_type_name" value="{$bind_type_info.type_name}" />
    <input type="hidden" name="old_type_id" value="{$bind_type_info.type_id}" />
  </form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['type_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("type_id",'类型编号不能为空');
  validator.required("type_name",'类型名称不能为空');
  
  return validator.passed();
}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

/**
 * 新增一个筛选属性
 */
// function addFilterAttr(obj)
// {
//   var src = obj.parentNode.parentNode;
//   var tbl = document.getElementById('tbody-attr');

//   var validator  = new Validator('theForm');
//   var filterAttr = document.getElementsByName("filter_attr[]");

//   if (filterAttr[filterAttr.length-1].selectedIndex == 0)
//   {
//     validator.addErrorMsg(filter_attr_not_selected);
//   }
  
//   for (i = 0; i < filterAttr.length; i++)
//   {
//     for (j = i + 1; j <filterAttr.length; j++)
//     {
//       if (filterAttr.item(i).value == filterAttr.item(j).value)
//       {
//         validator.addErrorMsg(filter_attr_not_repeated);
//       } 
//     } 
//   }

//   if (!validator.passed())
//   {
//     return false;
//   }

//   var row  = tbl.insertRow(tbl.rows.length);
//   var cell = row.insertCell(-1);
//   cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addFilterAttr)(.*)(\[)(\+)/i, "$1removeFilterAttr$3$4-");
//   filterAttr[filterAttr.length-1].selectedIndex = 0;
// }

/**
 * 删除一个筛选属性
 */
// function removeFilterAttr(obj)
// {
//   var row = rowindex(obj.parentNode.parentNode);
//   var tbl = document.getElementById('tbody-attr');

//   tbl.deleteRow(row);
// }
//-->
</script>
{/literal}
{include file="pagefooter.htm"}