<!-- $Id: order_info.htm 17060 2010-03-25 03:44:42Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="topbar.js,../js/utils.js,listtable.js,selectzone.js,../js/common.js"}

<form action="order.php?act=operate" method="post" name="theForm">
<div class="list-div" style="margin-bottom: 5px">
<table width="100%" cellpadding="3" cellspacing="1">
  <tr>
    <td colspan="4">
      <div align="center">
        <input name="prev" type="button" class="button" onClick="location.href='order.php?act=info&order_id={$prev_id}';" value="{$lang.prev}" {if !$prev_id}disabled{/if} />
        <input name="next" type="button" class="button" onClick="location.href='order.php?act=info&order_id={$next_id}';" value="{$lang.next}" {if !$next_id}disabled{/if} />
        <input type="button" onclick="window.open('order.php?act=info&order_id={$order.order_id}&print=1')" class="button" value="{$lang.print_order}" />
    </div></td>
  </tr>
  <!-- 基本信息 -->
  <tr>
    <th colspan="4">{$lang.base_info}</th>
  </tr>
  <tr>
    <td width="18%"><div align="right"><strong>{$lang.label_order_sn}</strong></div></td>
    <td width="34%">{$order.order_sn}</td>
    <td width="15%"><div align="right"><strong>{$lang.label_order_status}</strong></div></td>
    <td>{$order.status}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_user_name}</strong></div></td>
    <td>{$order.user_name|default:$lang.anonymous}</td>
    <td><div align="right"><strong>{$lang.label_order_time}</strong></div></td>
    <td>{$order.formated_add_time}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_payment}</strong></div></td>
    <td>{if $order.pay_id > 0}{$order.pay_name}{else}{$lang.require_field}{/if}<a href="order.php?act=edit&order_id={$order.order_id}&step=payment" class="special">{$lang.edit}</a></td>
    <td><div align="right"><strong>{$lang.label_pay_time}</strong></div></td>
    <td>{$order.pay_time}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_shipping}</strong></div></td>
    <td>{if $order.shipping_id > 0}{$order.shipping_name}{else}{$lang.require_field}{/if}<a href="order.php?act=edit&order_id={$order.order_id}&step=shipping" class="special">{$lang.edit}</a></td>
    <td><div align="right"><strong>{$lang.label_shipping_time}</strong></div></td>
    <td>{$order.shipping_time}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_invoice_no}</strong></div></td>
    <td colspan="3">{if $order.invoice_no}{$order.invoice_no}{else}N/A{/if}</td>
  </tr>
  <!-- 发票信息 -->
  <!-- <tr>
    <th colspan="4">{$lang.other_info}<a href="order.php?act=edit&order_id={$order.order_id}&step=other" class="special">{$lang.edit}</a></th>
    </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_inv_type}</strong></div></td>
    <td>{$order.inv_type}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_inv_payee}</strong></div></td>
    <td>{$order.inv_payee}</td>
    <td><div align="right"><strong>{$lang.label_inv_content}</strong></div></td>
    <td>{$order.inv_content}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_postscript}</strong></div></td>
    <td colspan="3">{$order.postscript}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_how_oos}</strong></div></td>
    <td>{$order.how_oos}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_pack}</strong></div></td>
    <td>{$order.pack_name}</td>
    <td><div align="right"><strong>{$lang.label_card}</strong></div></td>
    <td>{$order.card_name}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_card_message}</strong></div></td>
    <td colspan="3">{$order.card_message}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_to_buyer}</strong></div></td>
    <td colspan="3">{$order.to_buyer}</td>
  </tr> -->
  <!-- 收货人信息 -->
  <tr>
    <th colspan="4">{$lang.consignee_info}<a href="order.php?act=edit&order_id={$order.order_id}&step=consignee" class="special">{$lang.edit}</a></th>
    </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_consignee}</strong></div></td>
    <td>{$order.consignee|escape}</td>
    <td><div align="right"><strong>{$lang.label_email}</strong></div></td>
    <td>{$order.email}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_address}</strong></div></td>
    <td>[{$order.region}] {$order.address|escape}</td>
    <td><div align="right"><strong>{$lang.label_zipcode}</strong></div></td>
    <td>{$order.zipcode|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_tel}</strong></div></td>
    <td>{$order.tel}</td>
    <td><div align="right"><strong>{$lang.label_mobile}</strong></div></td>
    <td>{$order.mobile|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_sign_building}</strong></div></td>
    <td>{$order.sign_building|escape}</td>
    <td><div align="right"><strong>{$lang.label_best_time}</strong></div></td>
    <td>{$order.best_time|escape}</td>
  </tr>
</table>
</div>

<!-- 商品信息 -->
<div class="list-div" style="margin-bottom: 5px">
<table width="100%" cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="8" scope="col">{$lang.goods_info}
        <!-- <a href="order.php?act=edit&order_id={$order.order_id}&step=goods" class="special">{$lang.edit}</a> -->
    </th>
    </tr>
  <tr>
    <td scope="col"><div align="center"><strong>商品名称</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>
    <!-- <td scope="col"><div align="center"><strong>{$lang.product_sn}</strong></div></td> -->
    <td scope="col"><div align="center"><strong>{$lang.goods_price}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_number}</strong></div></td>
    <!-- <td scope="col"><div align="center"><strong>{$lang.goods_attr}</strong></div></td> -->
    <!-- <td scope="col"><div align="center"><strong>{$lang.storage}</strong></div></td> -->
    <td scope="col"><div align="center"><strong>{$lang.subtotal}</strong></div></td>
  </tr>
  {foreach from=$goods_list item=goods}
  <tr align="center">
    <td>{$goods.goods_name}</td>
    <td>{$goods.goods_sn}</td>
    <!-- <td>{$goods.product_sn}</td> -->
    <td><div>{$goods.formated_goods_price}</div></td>
    <td><div>{$goods.goods_number}
    </div></td>
    <!-- <td>{$goods.goods_attr|nl2br}</td> -->
    <!-- <td><div align="right">{$goods.storage}</div></td> -->
    <td><div>{$goods.formated_subtotal}</div></td>
  </tr>
  {/foreach}
  <tr>
    <td></td>
    <td>&nbsp;</td>
    <!-- <td>&nbsp;</td> -->
    <!-- <td>{if $order.total_weight}<div align="right"><strong>{$lang.label_total_weight} -->
    <!-- </strong></div>{/if}</td> -->
    <!-- <td>{if $order.total_weight}<div align="right">{$order.total_weight}
    </div>{/if}</td> -->
    <td>&nbsp;</td>
    <td><div align="right"><strong>{$lang.label_total}</strong></div></td>
    <td><div align="center">{$order.formated_goods_amount}</div></td>
  </tr>
</table>
</div>

</form>
{literal}
<script language="JavaScript">
{/literal}
  var oldAgencyId = {$order.agency_id|default:0};
{literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

  /**
   * 把订单指派给某办事处
   * @param int agencyId
   */
  function assignTo(agencyId)
  {
    if (agencyId == 0)
    {
      alert(pls_select_agency);
      return false;
    }
    if (oldAgencyId != 0 && agencyId == oldAgencyId)
    {
      alert(pls_select_other_agency);
      return false;
    }
    return true;
  }
</script>
{/literal}

{include file="pagefooter.htm"}
