<!-- $Id: template_list.htm 17126 2010-04-23 10:30:26Z moonsea $ -->
<style>
.lit{cursor:pointer;}
.list{padding-left:0;}
.list:hover{cursor:pointer; background:#fdfdfd; padding-left:0;};
#sub-nav ul{display:block; margin:0 auto; list-style:none; height:40px; line-height:40px;}
#sub-nav ul li{display:block; margin:0; padding:8px 2em; text-align:center; float:left; border-radius:2em;}
#sub-nav ul li.active,#sub-nav ul li:hover{background:#F30;}
#sub-nav ul li.active a,#sub-nav ul li:hover a{color:#fff; background:none;}
a,a:hover,a:active,a:focus,a:visited{text-decoration:none;}
.img{cursor:pointer;}
/*gallery*/
.gallery_back{position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.7); z-index:100; display:none;}
.gallery{overflow:auto; margin:0 auto;}
.gallery img{max-height:100%; margin:0 auto; display:block;}
.gallery_close{position:absolute; top:10px; right:10px; cursor:pointer;}
.go{width:200px; height:40px; line-height:40px; text-align:center; background:#f30; color:#fff; display:block; margin:0 auto; margin-top:30px; border-radius:2em;}
.go:hover{color:#fff;}
</style>

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/photo-list.css" rel="stylesheet">
{insert_scripts files='jquery.min.js,bootstrap.min.js'}

<!-- 模板搜索 -->
{include file="goods_search.html"}
<!-- 模板列表 -->
<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
  <!-- start goods list -->
  <div class="list-div" id="listDiv">
{/if}
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
      模板编号
    </th>
    <th>模板图片</th>
    <th>模板名称</th>
    <th>模板类别</th>
    <th>{$lang.handler}</th>
  <tr>
  {foreach from=$template_list item=template}
  <tr>
    <td align="center">
      <input type="checkbox" name="checkboxes[]" value="{$template.pid}" />
      {$template.pid}</td>
    <td align="center">
            <img src= "{$template.img_url}" width="50" height="50" border="0" onclick="gallery(this)" />
            <div style="display:none;" class="hide">
                {foreach from=$template.gallery item=item}
                    <img src="{$item.img_url}" class="img-responsive" style="max-width:800px;"/>
                {/foreach}
            </div>
    </td>
    <td align="center"><span onclick="listTable.edit(this, 'edit_template_name', {$template.pid})">{$template.name}</span></td>
    <td align="center">
      {foreach from=$category_list name=category_list item=item}
        {if $template.cid == $item.id}{$item.name}{/if}
      {/foreach}
    <td align="center">
      <!-- <a href="../goods.php?id={$goods.goods_id}" target="_blank" title="{$lang.view}"><img src="images/icon_view.gif" width="21" height="21" border="0" /></a> -->
      <a href="template.php?act=edit&pid={$template.pid}" title="{$lang.edit}">编辑</a>
      <!-- <a href="goods.php?act=copy&goods_id={$goods.goods_id}{if $code neq 'real_goods'}&extension_code={$code}{/if}" title="{$lang.copy}"><img src="images/icon_copy.gif" width="21" height="21" border="0" /></a> -->
      <a href="javascript:;" onclick="listTable.remove({$template.pid}, '确认删除此模板')" title="{$lang.trash}">删除</a>
      {if $specifications[$goods.goods_type] neq ''}<a href="goods.php?act=product_list&goods_id={$goods.goods_id}" title="{$lang.item_list}"><img src="images/icon_docs.gif" width="21" height="21" border="0" /></a>{else}<img src="images/empty.gif" width="21" height="21" border="0" />{/if}
      {if $add_handler}
        {foreach from=$add_handler item=handler}
        <a href="{$handler.url}&goods_id={$goods.goods_id}" title="{$handler.title}"><img src="images/{$handler.img}" width="21" height="21" border="0" /></a>
        {/foreach}
      {/if}
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
</table>
<!-- end goods list -->

<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>

</form>

<script type="text/javascript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    startCheckOrder(); // 开始检查订单
    document.forms['listForm'].reset();
  }

  /**
   * @param: bool ext 其他条件：用于转移分类
   */
  function confirmSubmit(frm, ext)
  {
      if (frm.elements['type'].value == 'trash')
      {
          return confirm(batch_trash_confirm);
      }
      else if (frm.elements['type'].value == 'not_on_sale')
      {
          return confirm(batch_no_on_sale);
      }
      else if (frm.elements['type'].value == 'move_to')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['target_cat'].value != 0;
      }
      else if (frm.elements['type'].value == '')
      {
          return false;
      }
      else
      {
          return true;
      }
  }

  function changeAction()
  {
      var frm = document.forms['listForm'];

      // 切换分类列表的显示
      frm.elements['target_cat'].style.display = frm.elements['type'].value == 'move_to' ? '' : 'none';

			{if $suppliers_list > 0}
      frm.elements['suppliers_id'].style.display = frm.elements['type'].value == 'suppliers_move_to' ? '' : 'none';
			{/if}

      if (!document.getElementById('btnSubmit').disabled &&
          confirmSubmit(frm, false))
      {
          frm.submit();
      }
  }
{/literal}
</script>
{include file="pagefooter.htm"}
{/if}
<!-- gallery s -->
<div class="gallery_back">
	<div class="gallery_close" onclick="close_gallery()"><img src="img/close.png" width="24" height="24"/></div>
	<div class="gallery">
    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" onclick="gallery_pre()" id="gallery-pre">
    			<img src="img/left.png" style="cursor:pointer;"/>
            </div>
    		<div id="gallery_container" class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="overflow:hidden;">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" onclick="gallery_next()" id="gallery-next">
        		<img src="img/right.png" style="cursor:pointer;"/>
            </div>
    </div>
</div>
<!-- gallery e -->
<script type="text/javascript">

	current = 1;
	total = 1;
	function gallery(e)
	{
		$("body").css("overflow","hidden");
		$(".gallery_back").css("top",$(document).scrollTop());
		$(".gallery_back").css("height",$(window).height());
		$(".gallery_back").show();
		//大图预览
		current = 1;
		total = 0;
		$(e).parent().find(".hide img").each(function(index, element) {
            if(index != 0)
			{
				$(this).hide();
			}
			total++;
        });
		$("#gallery_container").html($(e).parent().find(".hide").html());

		var href = $(".go").attr("href");
		href += $(e).attr("data");
		$(".go").attr("href",href);
		set_center();
	}
	function set_center()
	{
		// var back_height = $(".gallery_back").height();
		// var height = $(".gallery").height();
		// $(".gallery").css("margin-top",(back_height-height)/4);
		$("#gallery-pre").css("margin-top",180);
		$("#gallery-next").css("margin-top",180);
	}
	function close_gallery()
	{
		$("body").css("overflow","");
		$(".gallery_back").hide();
	}
	function gallery_next()
	{
		current ++;
		if(current <= total)
		{
			hideAll();
			showNow();
		}
		else
		{
			current = 1;
			hideAll();
			showNow();
		}
	}
	function gallery_pre()
	{
		current--;
		if(current>0)
		{
			hideAll();
			showNow();
		}
		else
		{
			current = total;
			hideAll();
			showNow();
		}
	}
	function hideAll()
	{
		$("#gallery_container img").each(function(index, element) {
                $(this).hide();
            });
	}
	function showNow()
	{
		$("#gallery_container img:nth-child("+current+")").fadeIn(500);
	}
</script>
